# main interface and unique local address monitoring
MONITOR_IF=eno1
EXPECTED_ULA=fd8f:bd66:6363:1::15
# ntfy for state change notification
NTFY_TOPIC=your-topic
NTFY_HOST=ntfy.sh
# explicit outside resolver to use for notification
NTFY_RESOLVER=9.9.9.9:53
# local rpc socket for netmonctl
RPC_SOCKET_PATH=/run/netmon/netmond.sock
# set to true when debugging raw netlink events
DEBUG_EVENTS=false
# optional runtime stats logging interval; set to 0 to disable
RUNTIME_STATS_INTERVAL=168h
